html,body,#container,.note,.board{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.note{
    height: 200px;
    width: 200px;
    background: yellow;
    position: relative;
}
div.note:hover > span{
    opacity: 1;
}
span{
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
}
.glyphicon-plus{
    right: 2px;
    position: fixed;
}
.board{
    background-color: brown;
}